<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <!-- Barre de recherche -->
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>         
        </div>
        <div class="col d-flex flex-row-reverse">
            <button class="btn btn-primary btn">Ajouter un employé</button>
            <button class="btn btn-outline-secondary btn-sm disabled">Email</button>
            <button class="btn btn-outline-secondary btn-sm disabled">Signature</button>
            <button class="btn btn-outline-secondary btn-sm disabled"> RUP</button>
        </div>
    </div>
</div>