<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-pill shadow-lg fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse ps-4 pe-4 pt-1 pb-1" id="navContent">
            <ul class="navbar-nav d-flex justify-content-between mb-2 mb-lg-0 w-100">
                <li class="nav-item"> 
                    <a class="d-flex p-0 nav-link" routerLink="/public-area/home">
                        <img class="d-block align-self-center" src="assets\Lloske_logo.png" alt="Logo" width="40" height="40">
                        <div class="d-block p-2">Lloske</div>        
                    </a>            
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/public-area/pricing">Offres</a>
                </li>
                <li class="nav-item align-self-center">
                    <a class="btn btn-primary" type="button" routerLink="/public-area/logIn">Se connecter</a>
                </li>
            </ul>    
              
        </div>
    </div>
</nav>

