<div class="container">
    <form [formGroup]="contractualDataForm" (ngSubmit)="onSubmit()" >
<!--  Données contractuelles -->
        <div class="row mt-4 mb-4 p-2 text-start">
            <h2>Données contractuelles</h2>
        </div>        
    <!-- TITRE Type de contrat -->
        <div class="row mb-2 p-2 border-top">     
            <h3 class="col-6 mt-2 text-start">Type de contrat</h3>
    <!-- INPUT -->
            <div class="col-6 p-2 d-flex flex-column">
                <div class="row container d-flex flex-row">
            <!-- Type de contrat --> 
                    <div class="col bg-light rounded p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="contract_type">Type de contrat</label>
                            <input class="no-border" id="contract_type" type="text" formControlName="contract_type" placeholder="CDI">
                        </div>
                    </div>
            <!-- Durée du temps de travail -->
                    <div class="col bg-light rounded mt-2 p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="employment_type">Durée du temps de travail</label>
                            <input class="no-border" id="employment_type" type="text" formControlName="employment_type" placeholder="Temps plein">
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    <!-- TITRE Intitulé du poste -->
        <div class="row mb-2 p-2 border-top">     
            <h3 class="col-6 mt-2 text-start">Intitulé du poste</h3>
    <!-- INPUT Intitulé du poste-->
            <div class="col-6 p-2 d-flex flex-column">
                <div class="row container mt-2">
                    <div class="col bg-light rounded p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="job_title">Intitulé du poste</label>
                            <input class="no-border" id="job_title" type="text" formControlName="job_title" placeholder="Gestionnaire multifonction">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- TITRE Date d’arrivée dans l’organisation -->
        <div class="row mb-2 p-2 border-top">     
            <h3 class="col-6 mt-2 text-start">Date d’arrivée dans l’organisation</h3>
    <!-- INPUT Date d’arrivée dans l’organisation-->
            <div class="col-6 p-2 d-flex flex-column">
                <div class="row container mt-2">
                    <div class="col bg-light rounded p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="organization_entry_date">Date d’arrivée dans l’organisation</label>
                            <input class="no-border" id="organization_entry_date" type="date" formControlName="organization_entry_date" placeholder="Sélectionner la date">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- TITRE Date de début de contrat -->
        <div class="row mb-2 p-2 border-top">     
            <h3 class="col-6 mt-2 text-start">Date de début de contrat</h3>
    <!-- INPUT Date de début de contrat-->
            <div class="col-6 p-2 d-flex flex-column">
                <div class="row container d-flex flex-row">
            <!-- Date de début de contrat --> 
                    <div class="col bg-light rounded me-4 p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="contract_start_date">Date de début de contrat</label>
                            <input class="no-border" id="contract_start_date" type="date" formControlName="contract_start_date" placeholder="Date de début de contrat">
                        </div>
                    </div>
            <!-- Heure de début de contrat -->
                    <div class="col bg-light rounded p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="contract_start_time">Heure de début de contrat</label>
                            <input class="no-border" id="contract_start_time" type="time" formControlName="contract_start_time" placeholder="Temps plein">
                        </div>
                    </div>
                </div>                
            </div>           
        </div>
    <!-- TITRE Date de fin de période d’essai -->
        <div class="row mb-2 p-2 border-top">     
            <h3 class="col-6 mt-2 text-start">Date de fin de période d’essai</h3>
    <!-- INPUT Date de fin de période d’essai-->
            <div class="col-6 p-2 d-flex flex-column">
                <div class="row container d-flex flex-row">
            <!-- Date de fin de période d’essai --> 
                    <div class="col bg-light rounded me-4 p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="probation_end_date">Date de fin de période d’essai</label>
                            <input class="no-border" id="probation_end_date" type="date" formControlName="probation_end_date" placeholder="">
                        </div>
                    </div>
            <!-- Espace vide -->
                    <div class="col rounded p-2 text-start">
                    </div>
                </div>                
            </div>           
        </div>
    <!-- TITRE Date de fin de contrat -->
        <div class="row mb-2 p-2 border-top">     
            <h3 class="col-6 mt-2 text-start">Date de fin de contrat</h3>
    <!-- INPUT Date de fin de contrat-->
            <div class="col-6 p-2 d-flex flex-column">
                <div class="row container d-flex flex-row">
            <!-- Date de fin de contrat --> 
                    <div class="col bg-light rounded me-4 p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="contract_end">Date de fin de contrat</label>
                            <input class="no-border" id="contract_end" type="date" formControlName="contract_end" placeholder="">
                        </div>
                    </div>
            <!-- Espace vide -->
                    <div class="col rounded p-2 text-start">
                    </div>
                </div>                
            </div>           
        </div>
    <!-- TITRE Statut -->
        <div class="row mb-2 p-2 border-top">     
            <h3 class="col-6 mt-2 text-start">Statut</h3>
    <!-- INPUT Statut & Catégorie professionnelle-->
            <div class="col-6 p-2 d-flex flex-column">
                <div class="row container d-flex flex-row">
            <!-- Statut --> 
                    <div class="col bg-light rounded p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="status">Status</label>
                            <input class="no-border" id="status" type="text" formControlName="status" placeholder="Ouvrier et employés">
                        </div>
                    </div>
            <!-- Catégorie professionnelle -->
                    <div class="col bg-light rounded mt-2 p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="professional_category">Catégorie professionnelle</label>
                            <input class="no-border" id="professional_category" type="text" formControlName="professional_category" placeholder="Personnel de vente">
                        </div>
                    </div>
                </div>                
            </div>           
        </div>
    <!-- TITRE Date de la dernière visite médicale -->
        <div class="row mb-2 p-2 border-top">     
            <h3 class="col-6 mt-2 text-start">Date de la dernière visite médicale</h3>
    <!-- INPUT Date de la dernière visite médicale -->
            <div class="col-6 p-2 d-flex flex-column">
                <div class="row container d-flex flex-row">
            <!-- Date de la dernière visite médicale --> 
                    <div class="col bg-light rounded me-4 p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="last_medical_checkup_date">Date de la dernière visite médicale</label>
                            <input class="no-border" id="last_medical_checkup_date" type="date" formControlName="last_medical_checkup_date" placeholder="Date de la dernière visite médicale">
                        </div>
                    </div>
            <!-- Espace vide -->
                    <div class="col rounded p-2 text-start">
                    </div>
                </div>                
            </div>           
        </div>
<!--  Données salariales -->
        <div class="row p-2 text-start">
            <h2 class="mb-4">Données salariales ----------------------- Décommenté le code + RAPPATRIER DE PAYROLLDATA BACKEND</h2>
        <!-- TITRE Temps de travail -->
            <div class="row mb-2 p-2 border-top">     
                <h3 class="col-6 mt-2 text-start">Temps de travail</h3>
        <!-- INPUT Mesure du temps & Volume horaire-->
                <div class="col-6 p-2 d-flex flex-column">
                    <div class="row container d-flex flex-row">
                <!-- Mesure du temps -->
                        <div class="col bg-light rounded me-4 p-2 text-start">
                            <div class="container d-flex flex-column">
                                <label class="d-block text-start" for=" ">Mesure du temps</label>                        
                                <input class="no-border" id="Work_time_measurement" type="text" formControlName="Work_time_measurement" placeholder="Mesure du temps">
                            </div>
                        </div>
                <!-- Volume horaire -->
                        <div class="col bg-light rounded p-2 text-start">
                            <div class="container d-flex flex-column">
                                <label class="d-block text-start" for="Maximum_contract_hours">Heure de début de contrat</label>
                                <input class="no-border" id="Maximum_contract_hours" type="number" formControlName="Maximum_contract_hours" placeholder="/semaine">
                            </div>
                        </div>
                    </div>                
                </div>           
            </div>
        </div>
<!-- Avenants -->
        <div class="row p-2 text-start">
            <h2 class="mb-4">Avenants au volume horaire</h2>
        <!-- TITRE Avenant -->
            <div class="row mb-2 p-2 border-top">     
                <h3 class="col-6 mt-2 text-start">Avenant</h3>
        <!-- INPUT Mesure du temps & Volume horaire-->
                <div class="col-6 p-2 d-flex flex-column">
                    <div class="row container d-flex flex-row">
                <!-- Espace --> 
                        <div class="col rounded me-4 p-2 text-start">
                            <div class="container d-flex flex-column">                               
                            </div>
                        </div>
                <!-- Bouton add -->
                        <div class="col rounded p-2 text-start">
                            <div class="container d-flex flex-column">
                                <button class="btn btn-primary">Ajouter</button>
                            </div>
                        </div>
                    </div>                
                </div>           
            </div>
        </div>
    </form>
</div>