
<div class="container-fluid text-center gx-0">
    <div class="row">
        <app-navbar-employees></app-navbar-employees>   
    </div>
    <div class="row">
        <div class="col-sm-2 border p-0">
            <app-sidebar-employees></app-sidebar-employees>   
        </div>
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <app-subnavbar-employees></app-subnavbar-employees>
                </div>
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>