<div class="container-fluid text-center border border-3">
    <div class="row">
        <app-navbar-employees></app-navbar-employees>   
    </div>
    <div class="row">
        <div class="col-sm-2 border">
            <app-sidebar-employees></app-sidebar-employees>   
        </div>
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <app-subnavbar-employees></app-subnavbar-employees>
                </div>
                <div class="row">
                    <!-- <router-outlet></router-outlet> -->
                    <app-contractual-data></app-contractual-data>
                </div>
            </div>
        </div>
      </div>
  </div>