<ul class="nav-tabs">
	<li class="nav-item">
		<a ngbNavLink class="nav-link" routerLink="personal-data">Informations personnelles</a>
	</li>
	<li class="nav-item">
		<a ngbNavLink class="nav-link" routerLink="contractual-data">Données contractuelles & salariales</a>
	</li>
	<li class="nav-item">
		<a ngbNavLink class="nav-link" routerLink="human-resources">Dossier RH</a>
	</li>
    <li class="nav-item">
		<a ngbNavLink class="nav-link" routerLink="#">Historique/Compteurs</a>
	</li>
    <li class="nav-item">
		<a ngbNavLink class="nav-link" routerLink="#">Documents</a>
	</li>
</ul>