<div class="text-start d-flex p-4">
	<img src="assets/person.svg" alt="logo employé" width="40px">
	<div>
		<h2 class="fs-5">Prénom Nom</h2>
		<h3 class="fs-6">Role</h3>
	</div>
</div>

<ul class="nav nav-tabs mb-3">
	<li class="nav-item">
		<a class="nav-link" routerLink="personal-data">Informations personnelles</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" routerLink="contractual-data">Données contractuelles & salariales</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" routerLink="human-resources">Dossier RH</a>
	</li>
    <li class="nav-item">
		<a class="nav-link disabled" routerLink="#">Historique/Compteurs</a>
	</li>
    <li class="nav-item">
		<a class="nav-link disabled" routerLink="#">Documents</a>
	</li>
</ul>