body{
    line-height: 1.5;
    font-family: sans-serif;
    font-size: clamp(1.125rem, 2vw, 1.25rem);
}
h1{
    font-size: 10rem;
}
h2{
    font-size: 3rem;
}

//Animation au scroll
h1, p, h3 {
    // animation: fade 3s ease both;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
h2{
    background: linear-gradient(90deg, black, transparent);
    background-size: 200%;
    animation: reveal both linear;
    animation-timeline: view();
    background-repeat: no-repeat; 
    animation-range: entry 50% cover 50%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        transform: translate();
    }
    100%{
        transform: translate();
    }
    
}
@keyframes reveal {
    from{
        background-position-x: 200%;
    }
    to{
        background-position-x: 0%;
    }
}


// A REFACTORISER : Vidéo et image cover de la vidéo. 
.cover_img{
    z-index : 1010;
    position : absolute;
    height: 95%;
    width: 100%;
    max-width: 640px;
    object-fit: fill;
    box-sizing: border-box
}
video{
    width: 85%;
    height: auto;

}
// Ancienne version
// .cover_img{
//     z-index : 1010;
//     position : absolute;
//     height: 100%;
//     width: 100%;
//     object-fit: fill;
//     box-sizing: border-box
// }
// video{
//     width: 100%;
//     height: auto;
// }
