<div class="container-fluid m-6">
    <!-- Hero Section -->
    <div class="row m-5">
        <div class="col text-start p-5">
            <h1>Bienvenue sur Lloske</h1>
            <p>La solution RH pour planifier le quotidien et le succès en équipe.</p>
            <h2>Planifiez, optimisez, pilotez vos équipes de terrain et restez serein quand vient la paie.</h2>
            <p>4,5 étoiles - notes moyennes de skello 4,5/5 sur plus de 2 000 avis</p>
            <h3>Rejoignez les 15 000 équipes de terrain et leurs 300 000 salariés qui ont choisi Lloske</h3>
            <button class="btn btn-primary">Demander une démo</button>
        </div>
        <div class="col  ms-5">
            <img class="img-fluid cover_img" src="assets/nuage.png" alt="nuage">
            <video class="cover_video" autoplay muted loop>
                <source src="assets/home_movie.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video> 
        </div>
    </div>

    <!-- Features Section -->
    <div class="row">
    <div class="col-md-4">
        <h3>Fonctionnalité 1</h3>
        <p>Description de la fonctionnalité 1.</p>
    </div>
    <div class="col-md-4">
        <h3>Fonctionnalité 2</h3>
        <p>Description de la fonctionnalité 2.</p>
    </div>
    <div class="col-md-4">
        <h3>Fonctionnalité 3</h3>
        <p>Description de la fonctionnalité 3.</p>
    </div>
    </div>

    <!-- Call to Action Section -->
    <div class="row my-5">
    <div class="col text-center">
        <h2>Prêt à commencer?</h2>
        <button class="btn btn-success">Tester Lloske gratuitement</button>
    </div>
    </div>
</div>  
