body{
    line-height: 1.5;
    font-family: sans-serif;
    font-size: clamp(1.125rem, 2vw, 1.25rem);
}
h1{
    font-size: 10rem;
}
h2{
    font-size: 3rem;
}


// A REFACTORISER : Vidéo et image cover de la vidéo. 
.cover_img{
    z-index : 1010;
    position : absolute;
    height: 100%;
    width: 100%;
    max-width: 640px;
    object-fit: fill;
    box-sizing: border-box
}
video{
    width: 55%;
    height: auto;

}
// Ancienne version
// .cover_img{
//     z-index : 1010;
//     position : absolute;
//     height: 100%;
//     width: 100%;
//     object-fit: fill;
//     box-sizing: border-box
// }
// video{
//     width: 100%;
//     height: auto;
// }
