<form [formGroup]="addEventForm" (ngSubmit)="onSubmit()" >

<!-- Remplacer le bloc en commentaire par un selection automatique de la date en fonction du jour cliqué -->
  <label for="shiftStartDate">Heure de début</label>
  <input id="shiftStartDate" type="date" formControlName="shiftStartDate" >
  <label for="shiftEndDate">Heure de fin</label>
  <input id="shiftEndDate" type="date" formControlName="shiftEndDate" >
<!-- Remplacer le bloc en commentaire par un selection automatique de la date en fonction du jour cliqué -->

  <label for="shiftStartTime">Heure de début</label>
  <input id="shiftStartTime" type="time" formControlName="shiftStartTime" >

  <label for="shiftEndTime">Heure de fin</label>
  <input id="shiftEndTime" type="time" formControlName="shiftEndTime" >

  <label for="shiftPause">Temps de pause</label>
  <input id="shiftPause" type="time" formControlName="shiftPause" >

  <label for="shiftTeam">Poste</label>
  <input id="shiftTeam" type="search" formControlName="shiftTeam" >

  <label for="shiftMeal">Repas</label>
  <input id="shiftMeal" type="number" formControlName="shiftMeal" >
  
  <label for="shiftNote">Note</label>
  <input id="shiftNote" type="text" formControlName="shiftNote" >

  <button type="submit">Ajouter</button>
</form>