.component {
    background-color: yellow;
    border: 1px black solid;
    padding: 10px;
}
.router {
    background-color: red;
    border: 1px black solid;
}
.fc-toolbar-title {
    color: blue;
    font-weight: bold;
  }
  
.fc-button {
    background-color: var(--bs-primary);
    color: white;
  }