<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- Logo + Home -->
        <a class="navbar-brand p-0" routerLink="/public-area/home">
            <img src="assets\Lloske_logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
        </a>      
        <!-- Logo + Home -->

        <!-- Code pour transformer les boutons de la navBar en dropDown menu sur écran plus petit -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent2" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Code pour transformer les boutons de la navBar en dropDown menu sur écran plus petit -->
        

        <div class="collapse navbar-collapse" id="navContent2">


            <!-- NavBar centrale (Planning / Employés / ... ) -->
            <ul class="navbar-nav me-auto mb-3 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="calendar">Planning</a>
                </li>
                <li class="nav-item">
                    <a ngbNavLink class="nav-link" routerLink="employees/personal-data">Employés</a>
                </li>      
                <li class="nav-item">
                    <a ngbNavLink class="nav-link disabled" routerLink="#">Rapport</a>
                </li>
                <!-- Ajoutez d'autres éléments ngbNavItem ici -->
            </ul>
            <!-- NavBar centrale (Acceuil/Offres) -->



            <!-- Barre de recherche -->
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success disabled" type="submit">Search</button>
            </form>
            <!-- Barre de recherche -->
        
        </div>
    </div>
</nav>
