.component {
    background-color: aqua;
    border: 1px black solid;
    padding: 4px;
}
.router {
    background-color: red;
    border: 1px black solid;
}

:root {
    --fc-border-color: black;
    --fc-daygrid-event-dot-width: 5px;
  }
