<div class="component z-0">
    <p>CALENDAR-component</p>
    <div [hidden]="isHidden" class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <!-- Supprimer le bouton de fermeture si vous ne voulez pas permettre à l'utilisateur de fermer la modale -->
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <!-- Supprimer le modal-footer si vous ne voulez pas de boutons d'action -->
            </div>
        </div>
    </div>
    
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>
