<div class="container">
    <form [formGroup]="contractualDataForm" (ngSubmit)="onSubmit()" >
<!-- Profil -->
        <div class="row mt-4 mb-4 p-2 text-start">
            <h2>Profil</h2>
        </div>        
        <!-- TITRE Identité -->
        <div class="row mb-2 p-2 border-top">     
            <h3 class="col-6 text-start">Identité</h3>
        <!-- INPUT -->
            <div class="col-6 p-2 d-flex flex-column">
                <!-- Prénom & Nom --> 
                <div class="row container d-flex flex-row">
                    <div class="col bg-light rounded me-4 p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="firstname">Prénom</label>
                            <input class="no-border" id="firstname" type="text" formControlName="firstname" placeholder="Prénom">
                                <span class="text-start font-size-sm" *ngIf="contractualDataForm.get('firstname')?.touched && contractualDataForm.get('firstname')?.errors?.['required']">
                                    Champs requis                       
                                </span>
                                <span *ngIf="contractualDataForm.get('firstname')?.errors?.['maxlength']">
                                    Maximum 100 caractères
                                </span>
                                <span *ngIf="contractualDataForm.get('firstname')?.errors?.['pattern']">
                                    Vous ne pouvez pas rentrer de chiffres
                                </span>
                        </div>
                    </div>

                    <div class="col bg-light rounded p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="lastname">Nom</label>
                            <input class="no-border" id="lastname" type="text" formControlName="lastname" placeholder="Nom">
                                <span *ngIf="contractualDataForm.get('lastname')?.touched && contractualDataForm.get('lastname')?.errors?.['required']">
                                    Champs requis                       
                                </span>
                                <span *ngIf="contractualDataForm.get('lastname')?.errors?.['maxlength']">
                                    Maximum 100 caractères
                                </span>
                                <span *ngIf="contractualDataForm.get('lastname')?.errors?.['pattern']">
                                    Vous ne pouvez pas rentrer de chiffres
                                </span>
                        </div>
                    </div>
                </div>
                <!-- Matricule de paie -->
                <div class="row container mt-2">
                    <div class="col bg-light rounded p-2 text-start">
                        <div class="container d-flex flex-column">
                            <label class="d-block text-start" for="payroll_identity">Matricule de paie</label>
                            <input class="no-border" id="payroll_identity" type="number" formControlName="payroll_identity" placeholder="Numéro de paie de l'employé auprès du secrétariat social">
                                <!-- !! Message en s'affiche pas -->
                                <span *ngIf="contractualDataForm.get('payroll_identity')?.errors?.['maxlength']">
                                    Maximum 5 caractères
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact -->
        <div class="row mb-5 p-2 border-top"> 
            <div class="col-6 p-2">
                <h3 class="text-start">Contact</h3>
            </div>   
            <div class="col-6 p-2 d-flex flex-column">
                <!-- Email -->
                <div class="row container mb-1">
                    <div class="col bg-light rounded ps-3 pe-3 pt-2 pb-2 d-flex flex-column">
                        <label class="d-block text-start" for="email">Email</label>
                        <input class="no-border" id="email" type="email" formControlName="email" placeholder="Email">
                            <span class="text-start font-size-sm" *ngIf="contractualDataForm.get('email')?.touched && contractualDataForm.get('email')?.errors?.['required']">
                                Champs requis                       
                            </span>
                            <span *ngIf="contractualDataForm.get('email')?.errors?.['email']">
                                Email invalide
                            </span>
                    </div>
                </div>
                <!-- Téléphone -->
                <div class="row container mt-2">
                    <div class="col bg-light  ps-3 pe-3 pt-2 pb-2 d-flex flex-column">
                        <label class="d-block text-start" for="phone">Téléphone</label>
                        <input class="no-border text-start" id="phone" type="tel" formControlName="phone" placeholder="Téléphone">
                            <span class="text-start" *ngIf="contractualDataForm.get('phone')?.touched && contractualDataForm.get('phone')?.errors?.['required']">
                                Champs requis                       
                            </span>
                            <span class="text-start" *ngIf="contractualDataForm.get('phone')?.errors?.['pattern']">
                                Format de téléphone invalide
                            </span>
                    </div>
                </div>
            </div>


        </div>
<!-- Accès aux établissements -->
        <div class="row p-2 text-start">
            <h2 class="mb-4">Accès aux établissements</h2>
    <!-- Établissement principal -->
            <div class="row mb-2 p-2 border-top">
                <div class="col p-2">
                    <h3 class="text-start">Établissement principal</h3>
                    <p class="w-75">Établissement auquel l'employé est rattaché contractuellement</p>
                </div>            
                <div class="col p-2 bg-light rounded">
                    <label class="d-block text-start" for="workplace_main">Établissement principal</label>
                    <select name="workplace_main" id="workplace_main" formControlName="workplace_main">
                        <option *ngFor="let workplaces of tempMainWorkplacesList" value="{{workplaces}}">{{workplaces}}</option>
                    </select>
                </div>
            </div>
    <!-- Établissement secondaire -->
            <div class="row mb-5 p-2 border-top">
                <div class="col p-2">
                    <h3>Établissements secondaires</h3>
                    <p class="w-75">Établissements dans lesquels la personne peut travailler en plus de son établissement principal. </p>
                </div>            
                <div class="col bg-light rounded p-2">
                    <label class="d-block text-start" for="workplace_secondary">Établissement secondaire</label>
                    <select name="workplace_secondary" id="workplace_secondary" formControlName="workplace_secondary">
                        <option *ngFor="let workplaces of tempSecondaryWorkplacesList" value="{{workplaces}}">{{workplaces}}</option>
                    </select>
                </div>
            </div>
        </div>
<!-- Permissions -->
        <div class="row mb-4 p-2 text-start">
            <h2>Permissions</h2>
        </div>
    <!-- Ligne Permission -->
        <div class="row mb-5 p-2 text-start">
            <!-- Etablissements -->
            <div class="col bg-light rounded p-2">
                <h6 class="d-block">Établissements</h6>
                <p class="d-block">{{this.contractualDataForm.value.workplace_main}}</p>
            </div>
            <!-- Niveau de permission -->
            <div class="col p-2">
                <label class="d-block text-start" for="permission_level">Niveau de permission</label>
                <select name="permission_level" id="permission_level" formControlName="permission_level">
                    <option *ngFor="let permission of tempPermission_levelList" value="{{permission}}">{{permission}}</option>
                </select>
            </div>
            <!-- visibility -->
            <div class="col bg-light rounded p-2">                
                <div class="form-check form-switch d-flex flex-column">
                    <label class="form-check-label text-start" for="visibility">Afficher sur le planning</label>
                    <input class="form-check-input no-border" type="checkbox" id="visibility" formControlName="visibility">
                </div>
            </div>
            <!-- Affecter à une équipe -->
            <div class="col p-2">
                <label class="d-block text-start" for="team">Affecter à une équipe</label>
                <select name="team" id="team" formControlName="team">
                    <option *ngFor="let teams of tempTeamList" value="{{teams}}">{{teams}}</option>
                </select>
            </div>
        </div>
    </form>
</div>